spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
matplotlib
numpy
streamlit
joblib==1.2.0
pandas
wordcloud
en_core_web_sm==3.5.0
pydantic==1.10.8
