spacy==3.5.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
matplotlib
numpy
streamlit
joblib==1.2.0
pandas
wordcloud
en_core_web_sm==3.0.0
pydantic==1.10.9
